* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #1B1B1B;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;;
  z-index: 5;
}

#simulationOverlay {
  flex-grow: 1;
  z-index: 1;
}

#topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: #000;
  padding: 4px;
  font-size: 1rem;
  z-index: 5;
}

#bottombar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: #5b5b5b;
  user-select: none;
  z-index: 5;
}

#bottombar #menuButton {
  border: none;
  outline: none;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #058;
  border-radius: 0%;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

#bottombar #menuButton:hover {
  background-color: #036;
}

#bottombar #menuButton div {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  z-index: 6;
  min-width: 0%;
  width: 0px;
  font-size: 0px;
  cursor: default;
  background-color: #046;
  opacity: 0%;
  transition: all 150ms;
}

#bottombar #menuButton:focus-within div h1 {
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 1.6rem;
  cursor: pointer;
  border-top: #024 solid 1px;
  border-bottom: #024 solid 1px;
}

#bottombar #menuButton div h1:hover {
  background-color: #035;
}

#bottombar #menuButton:focus-within div {
  min-width: 12%;
  width: fit-content;
  opacity: 100%;
}

#bottombar #icList {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#bottombar #icList #ic {
  background-color: #028;
  padding: 4px;
  margin: 4px;
  border-radius: 10%;
  font-size: 0.6rem;
  cursor: pointer;
  border: none;
}

#bottombar #icList #ic:hover {
  background-color: #016;
  scale: 102%;
}

#sidebar {
  position: absolute;
  top: calc((2px + 1rem)*2);
  left: 0;
  height: calc(100% - 60px);
  z-index: 4;
  background-color: #242424;
  padding: 8px;
  border-right: 4px #000 solid;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#sidebar #ioComponents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#sidebar #ioComponents button {
  background-color: #fff;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  color: #000;
  font-size: 2rem;
  border: #000 2px solid;
}

#sidebar #ioComponents button:hover {
  background-color: #ddd;
}
